.zhaolu-sprite, .zhaolu-car, .zhaolu-diamond, .zhaolu-down, .zhaolu-flower, .zhaolu-line, .zhaolu-logo, .zhaolu-percent, .zhaolu-person, .zhaolu-pig, .zhaolu-pop-chirld, .zhaolu-pop-face, .zhaolu-pop-right, .zhaolu-pop-x, .zhaolu-right, .zhaolu-rili {
  background-image: url('../images/zhaolu-s1c625568bd.png');
  background-repeat: no-repeat;
}

.zhaolu-car {
  background-position: -475px -196px;
  height: 48px;
  width: 48px;
}

.zhaolu-diamond {
  background-position: -523px -196px;
  height: 48px;
  width: 48px;
}

.zhaolu-down {
  background-position: 0 -196px;
  height: 5px;
  width: 10px;
}

.zhaolu-flower {
  background-position: -89px -196px;
  height: 25px;
  width: 205px;
}

.zhaolu-line {
  background-position: 0 0;
  height: 1px;
  width: 966px;
}

.zhaolu-logo {
  background-position: -294px -196px;
  height: 38px;
  width: 133px;
}

.zhaolu-percent {
  background-position: -155px -1px;
  height: 175px;
  width: 416px;
}

.zhaolu-person {
  background-position: -427px -196px;
  height: 48px;
  width: 48px;
}

.zhaolu-pig {
  background-position: -571px -196px;
  height: 48px;
  width: 48px;
}

.zhaolu-pop-chirld {
  background-position: 0 -1px;
  height: 195px;
  width: 155px;
}

.zhaolu-pop-face {
  background-position: -619px -196px;
  height: 80px;
  width: 85px;
}

.zhaolu-pop-right {
  background-position: -65px -196px;
  height: 24px;
  width: 24px;
}

.zhaolu-pop-x {
  background-position: -25px -196px;
  height: 16px;
  width: 16px;
}

.zhaolu-right {
  background-position: -10px -196px;
  height: 14px;
  width: 15px;
}

.zhaolu-rili {
  background-position: -41px -196px;
  height: 24px;
  width: 24px;
}

.zhaolu-sprite, .zhaolu-car, .zhaolu-diamond, .zhaolu-down, .zhaolu-flower, .zhaolu-line, .zhaolu-logo, .zhaolu-percent, .zhaolu-person, .zhaolu-pig, .zhaolu-pop-chirld, .zhaolu-pop-face, .zhaolu-pop-right, .zhaolu-pop-x, .zhaolu-right, .zhaolu-rili {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

.zhaolu-percent {
  margin-top: 100px;
}

.zhaolu-down {
  float: right;
  margin-top: 15px;
  margin-right: 5px;
}

.zhaolu-flower {
  margin-top: 6px;
  margin-bottom: 10px;
}

.zhaolu-right {
  position: absolute;
  margin-top: -36px;
  margin-left: 182px;
  z-index: 98;
}

.zhaolu-pop-right {
  position: absolute;
  margin-top: -32px;
  margin-left: 190px;
}

.zhaolu-pop-chirld {
  margin-top: -23px;
  margin-right: 10px;
}

.zhaolu-pop-face {
  margin-right: 35px;
  margin-top: -30px;
}

.zhaolu-pop-x {
  position: absolute;
  right: 20px;
  top: 20px;
}

.wedding-reserve {
  margin-top: 100px;
}

.bottom-line {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

html, body {
  width: 100%;
  height: 100%;
}

.wedding-party {
  height: 580px;
  width: 100%;
  background-image: url("../images/zhaolu-top.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1635px 580px;
}

.wedding-party-content {
  width: 1000px;
  margin: 0 auto;
}

.party-content-left {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-left: 40px;
  width: 630px;
}

.party-content-right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 260px;
  height: 430px;
  background-color: #e95b78;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 39px;
  margin-right: 65px;
  padding: 30px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wedding-party-explain {
  width: 1000px;
  margin: 0 auto;
}

.wedding-reserve {
  font-size: 17px;
  color: #fff;
}

.wedding-reserve-label {
  margin-bottom: 20px;
}

.number-tag {
  color: #fff;
  background-color: #fe426a;
  width: 20px;
  height: 33px;
  padding: 6px 5px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 5px;
}

.party-explain-block {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #ff4d6a;
  text-align: center;
  font-size: 16px;
  margin: 18px 10px;
}

.peb {
  margin-left: 115px;
}

.party-explain-title {
  font-weight: bold;
}

.party-content-text1 {
  font-size: 33px;
  color: #fff;
}

.party-content-text2 {
  font-size: 28px;
  color: #fff;
}

.select-div {
  width: 200px;
  height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  color: #ff4d6a;
  line-height: 33px;
  padding: 0px 8px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #fe3052;
}

.select-ul {
  position: absolute;
  width: 200px;
  margin-top: -13px;
  background-color: #fff;
  border: 1px solid #fe3052;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 300px;
  overflow: auto;
  display: none;
  z-index: 99;
}

.select-ul li {
  line-height: 25px;
  color: #ff4d6a;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #f4f4f4;
}
.select-ul li:hover {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #dcdcdc;
}
.select-ul li:nth-last-child(1) {
  border-bottom: 0;
}

.select-value {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  max-width: 150px;
}

.not-true, .Wdate {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 35px;
  width: 120px;
  line-height: 33px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 10px;
  font-size: 12px;
  color: #ff4d6a;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #fe3052;
  outline: none;
}

.not-true {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 68px;
  margin-left: 8px;
  cursor: pointer;
}

.wedding-searching {
  width: 200px;
  height: 35px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #f8c015;
  font-size: 12px;
  color: #f25f79;
  line-height: 33px;
  padding: 0px 8px;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.wedding-pop {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  text-align: left;
}
.wedding-pop p {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}
.wedding-pop div {
  font-size: 14px;
  color: #ff4d6a;
}
.wedding-pop input {
  font-size: 12px;
  height: 40px;
  width: 220px;
  color: #ff4d6b;
  background-color: #ffdbe1;
  border: 1px solid #c3c2c2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  padding: 0px 5px;
}

.wedding-pop-order {
  height: 295px;
}

.pop-desk {
  border-bottom: 1px solid #555;
}

.pop-place-number {
  color: #ff4d6b;
}

.pop-label {
  margin-top: 25px;
}

.pop-input-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wedding-pop-yes {
  margin-top: 0px;
  width: 90px;
  height: 40px;
  line-height: 40px;
  background-color: #F46177;
  border: 0;
  color: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.wrong-number-label, .zhaolu-pop-right {
  visibility: hidden;
}

.wedding-pop-result .order-title {
  font-size: 24px;
}
.wedding-pop-result .order-zhuanche {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 25px;
}
.wedding-pop-result .order-contact {
  margin-top: 15px;
}
