@import "compass/utilities/sprites";
@import "compass/css3";


$lucky-sprite-dimensions:true;
// $<map>-layout: vertical / horizontal / diagonal / smart;
$lucky-layout:smart;
// @import "<map>/*.png";
@import "lucky/*.png";
// 设置精灵的布局
// @include all-<map>-sprites; // 会为整个精灵地图撰写所有必要的css
@include all-lucky-sprites();


.lucky-sprite {
    display: inline-block;
}
.lucky-arrow-line {
  margin: 0px auto;
}
.lucky-face {
  vertical-align: middle;
}

.lucky-day-product, .calendar-line {
  width: 100%;
  text-align: center;
}

.calendar-line {
  width: 1000px;
  margin: 0 auto;
  margin-top: 55px;
}
.calendars {
  width: 1000px;
  margin: 0 auto;
  background-color: #faebdf;
  margin-top: 25px;
  margin-bottom: 45px;
  padding: 25px;
  @include box-sizing(border-box);
}
.calendar-content {
  vertical-align: top;
  display: inline-block;
  width: 540px;
  height: 235px;
  background-color: #fff;
  border: 1px solid #d0c3b9;
  padding: 20px 25px;
  @include box-sizing(border-box);
}
.calendar {
  vertical-align: top;
  display: inline-block;
  width: 265px;
  height: 200px;
  word-wrap: normal;
  @include box-sizing(border-box);
}
.calendar-explain {
  vertical-align: top;
  display: inline-block;
  width: 215px;
  height: 200px;
  border-left: 1px solid #ddd;
  @include box-sizing(border-box);
}
.calendar-explain {
  font-family: 'Simhei';
  color: #8b3b30;
  text-align: center;
  padding-left: 20px;
}
.c-explain-title {
  font-size: 40px;
}
.c-explain-nong {
  font-size: 14px;
}
.c-e-blocks {
  margin-left: 10px;
  margin-top: 10px;
}
.calendar-explain-block {
  vertical-align: top;
  display: inline-block;
  width: 49%;
}
.calendar-explain-tag {
  text-align: left;
  padding: 2px 5px;
}
.calendar-form {
  vertical-align: top;
  display: inline-block;
  width: 380px;
  height: 235px;
  margin-left: 25px;
  background-color: #fff;
  border: 1px solid #d0c3b9;
  color: #8b3b30;
  padding: 20px;
  @include box-sizing(border-box);
  div {
    padding-top: 2px;
  }
}
.c-form-title {
  font-size: 28px;
}
.c-form-label {
  font-size: 14px;
}
.c-form-tag {
  color: red;
  text-align: center;
  padding-left: 8px;
  line-height: 28px;
  margin-right: 10px;
  @include box-sizing(border-box);
  input {
    width: 96px;
    height: 29px;
    position: absolute;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    margin-left: -34px;
    @include box-sizing(border-box);
    @include opacity(0);
  }
}
.c-tag-checkbox {
  position: absolute;
  display: inline-block;
  background-color: #F46177;
  margin-left: -58px;
  margin-top: 10px;
  width: 10px;
  height: 10px;
  @include border-radius(5px);
  @include opacity(0);
  cursor: pointer;
}
.c-form-tag input[type=checkbox]:checked + .c-tag-checkbox {
  @include opacity(1);
}
.c-tag-red {
  color: #ff0000;
}
.float-left {
    vertical-align: top;
    display: inline-block;
    float: left;
}
.float-right {
    vertical-align: top;
    display: inline-block;
    float: right;
}
.float-div {
  overflow: hidden;
}
.lucky-phone-label {
  font-size: 14px;
}
.lucky-wrong-number {
  display: none;
  color: #f4526a;
  font-size: 12px;
}
.lucky-phone-number {
  width: 100%;
  height: 33px;
  @include border-radius(5px);
  border: 1px solid #F46177;
  outline: none;
  padding: 0 10px;
  @include box-sizing(border-box);
}
.lucky-phone-button {
  background-color: #F46177;
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
.c-married-day {
  margin-top: 22px;
  @include inline-block;
  border: 1px solid #d0c3b9;
  width: 300px;
  height: 106px;
  padding: 10px 20px;
  @include box-sizing(border-box);
  background-color: #fff;
  @include border-radius(5px);
}
.c-married-day-center {
  margin-left: 20px;
  margin-right: 20px;
}
.c-m-title {
  font-size: 18px;
  color: #707070;
}
.c-married-year {
  color: #f4526a;
}
.c-m-month span {
  @include inline-block;
  width: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 9px;
  font-size: 12px;
  color: #a4a9ae;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.c-m-month span:hover {
  color: #f67588;
  border-bottom: 1px solid #f67588;
}

.lucky-pop-cover {
  position: fixed;
  background-color: #4c4c4c;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9990;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.lucky-pop-order {
  width: 700px;
  height: 250px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -350px;
  z-index: 9997;
}
.lucky-pop-order-content {
  color: #ff4d6b;
  text-align: center;
}
.lucky-pop-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 24px;
  line-height: 70px;
}
.lucky-pop-x {
  position: absolute;
  right: 20px;
  top: 20px;
}
.lucky-pop-content {
  margin-top: 50px;
}
.lucky-pop-yes {
  margin-top: 30px;
  width: 180px;
  height: 40px;
  line-height: 40px;
  background-color: #F46177;
  border: 0;
  color: #fff;
  @include border-radius(5px);
}
.wedding-party-nav, .lucky-nav {
  height: 45px;
  border-bottom: 1px solid #b9b7b9;
  .logo {
    padding: 3px;
  }
  .mn-tools {
    color: #ff4d6a;
    font-size: 18px;
    padding-top: 9px;
    a {
      color: #ff4d6a;
      margin-right: 5px;
    }
    span {
      margin-left: 10px;
    }
  }
  .mn-tel {
    float: right;
    line-height: 14px;
    margin-top: 15px;
    margin-left: 12px;
  }
}
.wedding-party-nav {
  border-bottom: 0px;
}
.lucky-footer {
  background-color: #fbcea4;
  height: 60px;
  text-align: center;
  font-size: 14px;
  @include box-sizing(border-box);
}
.wedding-party-footer {
  height: 60px;
  text-align: center;
  font-size: 14px;
  @include box-sizing(border-box);
}
.copyright-company {
  padding: 10px 10px 1px;
}
.c-company {
  @include inline-block;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}
.c-number {
  @include inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
}