div.gw-header
  div.gw-wedding-options.wedding-scene
    div.wedding-icon.global-wedding-scene
    div.wedding-header-container
      div.wedding-header-title 婚礼场景
      div.wedding-container
        ul.wedding-scene-ul
          li 室内婚礼
          li 海滩婚礼
          li 草坪婚礼
          li 教堂婚礼
  div.gw-wedding-options.wedding-color
    div.wedding-icon
      div.global-wedding-color
    div.wedding-header-container
      div.wedding-header-title 婚礼色系
      div.wedding-container
        ul.wedding-color-ul
          li
            span.circle-color.red-circle
            span.text 红色
          li
            span.circle-color.white-circle
            span.text 白色
          li
            span.circle-color.roses-circle
            span.text 嫣红色
          li
            span.circle-color.peach-circle
            span.text 桃红色
          li
            span.circle-color.dark-blue-circle
            span.text 深蓝色
          li
            span.circle-color.pink-circle
            span.text 粉色
          li
            span.circle-color.orange-circle
            span.text 橙色
          li
            span.circle-color.yellow-circle
            span.text 黄色
          li
            span.circle-color.light-yellow-circle
            span.text 鹅褐色
          li
            span.circle-color.lavender-circle
            span.text 薰衣草色
          li
            span.circle-color.grass-circle
            span.text 草绿色
          li
            span.circle-color.dark-green-circle
            span.text 墨绿色
          li
            span.circle-color.light-blue-circle
            span.text 湖蓝色
          li
            span.circle-color.sky-blue-circle
            span.text 天蓝色
          li
            span.circle-color.eggplant-circle
            span.text 茄子色

  div.gw-wedding-options.wedding-goods
    div.wedding-icon.global-wedding-goods
    div.wedding-header-container
      div.wedding-header-title 婚品
      div.wedding-container
        ul.wedding-goods-ul
          li 礼服
          li 首饰首饰
          li 礼服首
          li 首饰
          li 礼服
          li 首饰
  p.clear-both