div.gw-header
  div.gw-wedding-options.wedding-scene
    div.wedding-icon.global-wedding-scene
    div.wedding-header-container
      div.wedding-header-title 婚礼场景
      div.wedding-container
        ul.wedding-scene-ul
          li 室内婚礼
          li 海滩婚礼
          li 草坪婚礼
          li 教堂婚礼
  div.gw-wedding-options.wedding-color
    div.wedding-icon
      div.global-wedding-color
    div.wedding-header-container
      div.wedding-header-title 婚礼色系
      div.wedding-container
        ul.wedding-color-ul
          li
            span.circle-color.red-circle
            span.text 红色
          li
            span.circle-color.white-circle
            span.text 白色
          li
            span.circle-color.roses-circle
            span.text 嫣红色
          li
            span.circle-color.red-circle
            span.text 红色
          li
            span.circle-color.white-circle
            span.text 白色
          li
            span.circle-color.roses-circle
            span.text 嫣红色
          li
            span.circle-color.red-circle
            span.text 红色
          li
            span.circle-color.white-circle
            span.text 白色
          li
            span.circle-color.roses-circle
            span.text 嫣红色
          li
            span.circle-color.red-circle
            span.text 红色
          li
            span.circle-color.white-circle
            span.text 白色
          li
            span.circle-color.roses-circle
            span.text 嫣红色
          li
            span.circle-color.red-circle
            span.text 红色
          li
            span.circle-color.white-circle
            span.text 白色
          li
            span.circle-color.roses-circle
            span.text 嫣红色

  div.gw-wedding-options.wedding-goods
    div.wedding-icon.global-wedding-goods
    div.wedding-header-container
      div.wedding-header-title 婚品
      div.wedding-container
        ul.wedding-goods-ul
          li 礼服
          li 首饰首饰
          li 礼服首
          li 首饰
          li 礼服
          li 首饰
  p.clear-both