@import "compass";
@import "susy";
@import "breakpoint";
@import "normalize";
@import "compass/utilities/sprites";
//@import "./_prestyle.scss";
$browser-minimum-versions: ("chrome": "10", "firefox": "3", "ie": "9", "safari": "4", "opera": "11");
$border-box-sizing: border-box;
$susy: ( columns: 4, gutters: .25, global-box-sizing: border-box, debug: ( image: show, color: rgba(#66f, .25), output: overlay, toggle: top right, ));
@include layout($susy float inside);
@import '_variables.scss';
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: Arial, "Microsoft YaHei", "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", sans-serif;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  border: 0;
}

input, button {
  outline: none;
}