$dpr: 64;
// card
$input-color: #808080;
$input-size: 24rem/$dpr;
$color-yellow: #ffdd41;
// coupons
$coupons-bg: #fcfbe4;
$color-blue: #0193e6;
$color-red: #ff4d6b;
$color-gray: #666;
$label-size: 20rem/$dpr;
// detail
$detail-bg-color: #999;
$detail-bg-colorblue: #0193e6;
$detail-bg-colorred: #ff4d6b;
$detail-border-color: #4db2e5;
$detail-border-color2: #fe8290;
$detail-color: #343434;
$detail-size1: 30rem/$dpr;
$detail-size2: 20rem/$dpr;
$detail-size3: 36rem/$dpr;
$detail-size4: 24rem/$dpr;
$detail-size5: 40rem/$dpr;
$detail-size6: 30rem/$dpr;
$detail-size7: 24rem/$dpr;
$detail-size8: 22rem/$dpr;
