@import 'compass';
@import "compass/utilities/sprites";
$card-sprite-dimensions:true;
$card-layout:smart;
@import "card/*.png";
@include all-card-sprites();
$dpr: 64;
.card-sprite {
  @include inline-block;
  background-size: 296rem/$dpr 469rem/$dpr;
}

//===============rem=========
.card-sprite,
.card-down-up,
.card-down,
.card-end,
.card-endred,
.card-ico01,
.card-ico02,
.card-line,
.card-used,
.card-usedred,
.card-x {
  background-image: url('../../images/card-sebc77be963.png');
  background-repeat: no-repeat;
}

.card-down-up {
  background-position: -191rem/$dpr -65rem/$dpr;
  height: 19rem/$dpr;
  width: 37rem/$dpr;
}

.card-down {
  background-position: -228rem/$dpr -65rem/$dpr;
  height: 19rem/$dpr;
  width: 37rem/$dpr;
}

.card-end {
  background-position: 0 -254rem/$dpr;
  height: 106rem/$dpr;
  width: 291rem/$dpr;
}

.card-endred {
  background-position: 0 -65rem/$dpr;
  height: 94rem/$dpr;
  width: 191rem/$dpr;
}

.card-ico01 {
  background-position: 0 0;
  height: 42rem/$dpr;
  width: 42rem/$dpr;
}

.card-ico02 {
  background-position: -42rem/$dpr 0;
  height: 42rem/$dpr;
  width: 42rem/$dpr;
}

.card-line {
  background-position: -191rem/$dpr -159rem/$dpr;
  height: 11rem/$dpr;
  width: 75rem/$dpr;
}

.card-used {
  background-position: 0 -360rem/$dpr;
  height: 109rem/$dpr;
  width: 296rem/$dpr;
}

.card-usedred {
  background-position: 0 -159rem/$dpr;
  height: 95rem/$dpr;
  width: 191rem/$dpr;
}

.card-x {
  background-position: -84rem/$dpr 0;
  height: 65rem/$dpr;
  width: 65rem/$dpr;
}
