extends ../m-layout.jade

block title
  title 看店大礼包
block js
  script(src="../../js/jquery.min.js")
  script(src="../../js/alert.js")

block css
  link(rel="stylesheet" type="text/css" href="../../css/news.css")
  link(rel="stylesheet" type="text/css" href="../../css/alert.css")
block body
  body.news
    article.news-article
      div.news-title 美国黑帮冲突致9死18伤
      div.news-origins
        span.news-origin 世界说
        span.news-time 15分钟前
      div.news-content
        img(src="../../images/news/1.jpg")
        div [美国黑帮冲突致9死]CNN报道，美国得州韦科至少3个摩托车黑帮发生冲突，导致至少9人死亡，死者据信均为黑帮成员，另有18人受伤送医。
        p  冲突发生在一个餐馆，之后蔓延到停车场，现场已发现超过100枪支，一些餐馆顾客和雇员为避冲突甚至躲到冰箱里。(新浪)
        p  冲突发生在一个餐馆，之后蔓延到停车场，现场已发现超过100枪支，一些餐馆顾客和雇员为避冲突甚至躲到冰箱里。(新浪)
        p  冲突发生在一个餐馆，之后蔓延到停车场，现场已发现超过100枪支，一些餐馆顾客和雇员为避冲突甚至躲到冰箱里。(新浪)
      div.ads
        img(src="../../images/news/1.jpg")
    //- div.pop-cover
    //-   div.pop-windows
    //-     div.pop-title.hidden
    //-       span.pop-x x
    //-     div.pop-content
    //-       div.pop-text
    //-         span 请输入 QQ 号,请输入 QQ 号请输入 QQ 号
    //-     div.pop-btn-group.hidden
    //-       button.pop-cancel 取消
    //-       button.pop-yes 确定
