@import "compass";
@import "susy";
@import "breakpoint";
@import "normalize";
//@import "./prestyle/prestyle.scss";
$border-box-sizing: border-box;
$susy: ( columns: 4, gutters: .25, global-box-sizing: border-box, debug: ( image: show, color: rgba(#66f, .25), output: overlay, toggle: top right, ));
@include layout($susy float inside);
@import '_variables.scss';
html,
body {
  font-size: 74px;
  font-family: $font-style, "Microsoft YaHei", "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", sans-serif;
}
