div.siteRow
      #xsd_hotarea.box
        b 上海市区县婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Luwanqu-p243659_1_187_0_0_0_0_0_0_0_0_0.html', title='卢湾区婚宴酒店') 卢湾区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Jinganqu-p243659_1_188_0_0_0_0_0_0_0_0_0.html', title='静安区婚宴酒店') 静安区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Xuhuiqu-p243659_1_189_0_0_0_0_0_0_0_0_0.html', title='徐汇区婚宴酒店') 徐汇区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Changningqu-p243659_1_190_0_0_0_0_0_0_0_0_0.html', title='长宁区婚宴酒店') 长宁区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Huangpuqu-p243659_1_191_0_0_0_0_0_0_0_0_0.html', title='黄浦区婚宴酒店') 黄浦区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Hongkouqu-p243659_1_192_0_0_0_0_0_0_0_0_0.html', title='虹口区婚宴酒店') 虹口区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Baoshanqu-p243659_1_193_0_0_0_0_0_0_0_0_0.html', title='宝山区婚宴酒店') 宝山区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Zhabeiqu-p243659_1_194_0_0_0_0_0_0_0_0_0.html', title='闸北区婚宴酒店') 闸北区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Pudongxinqu-p243659_1_195_0_0_0_0_0_0_0_0_0.html', title='浦东新区婚宴酒店') 浦东新区婚宴酒...
        a(limit='7', href='/Shanghai_Jiudian-Putuoqu-p243659_1_196_0_0_0_0_0_0_0_0_0.html', title='普陀区婚宴酒店') 普陀区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Yangpuqu-p243659_1_197_0_0_0_0_0_0_0_0_0.html', title='杨浦区婚宴酒店') 杨浦区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Xingqu-p243659_1_198_0_0_0_0_0_0_0_0_0.html', title='闵行区婚宴酒店') 闵行区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Jiadingqu-p243659_1_199_0_0_0_0_0_0_0_0_0.html', title='嘉定区婚宴酒店') 嘉定区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Songjiangqu-p243659_1_200_0_0_0_0_0_0_0_0_0.html', title='松江区婚宴酒店') 松江区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Jinshanqu-p243659_1_201_0_0_0_0_0_0_0_0_0.html', title='金山区婚宴酒店') 金山区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Qingpuqu-p243659_1_202_0_0_0_0_0_0_0_0_0.html', title='青浦区婚宴酒店') 青浦区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Fengxianqu-p243659_1_203_0_0_0_0_0_0_0_0_0.html', title='奉贤区婚宴酒店') 奉贤区婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Chongmingxian-p243659_1_204_0_0_0_0_0_0_0_0_0.html', title='崇明县婚宴酒店') 崇明县婚宴酒店
        a(limit='7', href='/Shanghai_Jiudian-Shanghaizhoubian-p243659_1_517_0_0_0_0_0_0_0_0_0.html', title='上海周边婚宴酒店') 上海周边婚宴酒...
    .siteRow
      // 热门城市 开始
      #xsd_hotarea.box
        b
          | 热门城市
          a(href='/') 婚宴酒店
        a(target='_blank', href='/Beijing_Jiudian.html') 北京婚宴酒店
        a(target='_blank', href='/Shanghai_Jiudian.html') 上海婚宴酒店
        a(target='_blank', href='/Tianjin_Jiudian.html') 天津婚宴酒店
        a(target='_blank', href='/Nanjing_Jiudian.html') 南京婚宴酒店
        a(target='_blank', href='/Guangzhou_Jiudian.html') 广州婚宴酒店
        a(target='_blank', href='/Wuxi_Jiudian.html') 无锡婚宴酒店
        a(target='_blank', href='/Shenzhen_Jiudian.html') 深圳婚宴酒店
        a(target='_blank', href='/Hangzhou_Jiudian.html') 杭州婚宴酒店
        a(target='_blank', href='/Chengdu_Jiudian.html') 成都婚宴酒店
        a(target='_blank', href='/Suzhou_Jiudian.html') 苏州婚宴酒店
        a(target='_blank', href='/Qingdao_Jiudian.html') 青岛婚宴酒店
        a(target='_blank', href='/Xian_Jiudian.html') 西安婚宴酒店
        a(target='_blank', href='/Wuhan_Jiudian.html') 武汉婚宴酒店
        a(target='_blank', href='/Chongqing_Jiudian.html') 重庆婚宴酒店
        a(target='_blank', href='/Zhengzhou_Jiudian.html') 郑州婚宴酒店
        a(target='_blank', href='/Xiamen_Jiudian.html') 厦门婚宴酒店
        a(target='_blank', href='/Ningbo_Jiudian.html') 宁波婚宴酒店
        a(target='_blank', href='/Jinan_Jiudian.html') 济南婚宴酒店
        a(target='_blank', href='/Dalian_Jiudian.html') 大连婚宴酒店
        a(target='_blank', href='/Hefei_Jiudian.html') 合肥婚宴酒店
        a(target='_blank', href='/Shenyang_Jiudian.html') 沈阳婚宴酒店
        a(target='_blank', href='/Haerbin_Jiudian.html') 哈尔滨婚宴酒店
        a(target='_blank', href='/Taiyuan_Jiudian.html') 太原婚宴酒店
        a(target='_blank', href='/Nanning_Jiudian.html') 南宁婚宴酒店
        a(target='_blank', href='/Shijiazhuang_Jiudian.html') 石家庄婚宴酒店
        a(target='_blank', href='/Fuzhou_Jiudian.html') 福州婚宴酒店
        a(target='_blank', href='/Changsha_Jiudian.html') 长沙婚宴酒店
        a(target='_blank', href='/Kunming_Jiudian.html') 昆明婚宴酒店
        a(target='_blank', href='/Nanchang_Jiudian.html') 南昌婚宴酒店
        a(target='_blank', href='/Changchun_Jiudian.html') 长春婚宴酒店
        a(target='_blank', href='/Lanzhou_Jiudian.html') 兰州婚宴酒店
      // 热门区域 结束
    #xswFoot.xswFoot
      .wrap1000
        ul.xswFootCon.clearfix.pt-20.pb-20
          li.xstFootInf1
            strong 公司信息
            a(href='/info/about_us.html', rel='nofollow') 关于我们
            a(href='/Xinwen.html', rel='nofollow') 媒体报道
            a(href='/info/privacy.html', rel='nofollow') 隐私声明
          li.xstFootInf2
            strong 加盟合作
            a(href='/info/friend.html') 友情链接
            a  
          li.xstFootInf2
            strong 快速查询
            a(href='/laohuangli/') 黄道吉日查询
            a(href='/jiehundengji/') 结婚登记处查询
          li.xstFootInf2
            strong 帮助中心
            a(href='/info/help.html', rel='nofollow') 常见问题
            a(href='/sitemap.html') 网站地图
            // <a href="#">城市地图</a>
          li.bd0.xstFootInf3
            .botTel
            .footTelSub
              em.xswXsm
                img(src='http://2.img.m10cdn.com/images/new201310/util/QRCode-shanghai.png', width='77', height='78')
              span.fc-6.f18 喜事网移动版
              .fc-6 帮您快速预订完美婚宴酒店！
            #shareBot
              #bdshare.bdshare_t.bds_tools.get-codes-bdshare
        p.xswFootBot
          | © 2011-2013 北京纳吉喜事科技有限公司 版权所有
          br
          | 京ICP证120374号     京公网安备110105007138      京ICP备 11042486号
