div#xswHead.xswHeadindex
      // 首页之外的通栏头部 class为 xswHead
      .wrap100p.xswtopBar
        .wrap1000.pos-r
          strong.fl 上海
          #cityBox.cityBox.fl
            a.fc-6.fl.cityCha(href='#') [切换城市]
            #topCityLst.topCityLst
              a.clsCity.cls(href='javascript:;')
              p.clearfix.mb-10
                strong.fl.lh20 热门：  
                a.fc-6(href='/Beijing_Jiudian.html', rel='nofollow') 北京
                a.fc-6(href='/Tianjin_Jiudian.html', rel='nofollow') 天津
                a.fc-6(href='/Shenzhen_Jiudian.html', rel='nofollow') 深圳
                a.fc-6(href='/city.html', rel='nofollow') 全国
              p.titCity0  按照拼音首字母选择：
              ul.topLstCitys
                li
                  em B
                  .cityNames
                    a(href='/Beijing_Jiudian.html', rel='nofollow') 北京
                li
                  em C
                  .cityNames
                    a(href='/Changchun_Jiudian.html', rel='nofollow') 长春
                    a(href='/Changsha_Jiudian.html', rel='nofollow') 长沙
                    a(href='/Chengdu_Jiudian.html', rel='nofollow') 成都
                    a(href='/Chongqing_Jiudian.html', rel='nofollow') 重庆
                li
                  em D
                  .cityNames
                    a(href='/Dalian_Jiudian.html', rel='nofollow') 大连
                li
                  em F
                  .cityNames
                    a(href='/Fuzhou_Jiudian.html', rel='nofollow') 福州
                li
                  em G
                  .cityNames
                    a(href='/Guangzhou_Jiudian.html', rel='nofollow') 广州
                li
                  em H
                  .cityNames
                    a(href='/Haerbin_Jiudian.html', rel='nofollow') 哈尔滨
                    a(href='/Hangzhou_Jiudian.html', rel='nofollow') 杭州
                    a(href='/Hefei_Jiudian.html', rel='nofollow') 合肥
                li
                  em J
                  .cityNames
                    a(href='/Jinan_Jiudian.html', rel='nofollow') 济南
                li
                  em K
                  .cityNames
                    a(href='/Kunming_Jiudian.html', rel='nofollow') 昆明
                li
                  em L
                  .cityNames
                    a(href='/Lanzhou_Jiudian.html', rel='nofollow') 兰州
                li
                  em N
                  .cityNames
                    a(href='/Nanchang_Jiudian.html', rel='nofollow') 南昌
                    a(href='/Nanjing_Jiudian.html', rel='nofollow') 南京
                    a(href='/Nanning_Jiudian.html', rel='nofollow') 南宁
                    a(href='/Ningbo_Jiudian.html', rel='nofollow') 宁波
                li
                  em Q
                  .cityNames
                    a(href='/Qingdao_Jiudian.html', rel='nofollow') 青岛
                li
                  em S
                  .cityNames
                    a.hover(href='/Shanghai_Jiudian.html', rel='nofollow') 上海
                    a(href='/Shenzhen_Jiudian.html', rel='nofollow') 深圳
                    a(href='/Shenyang_Jiudian.html', rel='nofollow') 沈阳
                    a(href='/Shijiazhuang_Jiudian.html', rel='nofollow') 石家庄
                    a(href='/Suzhou_Jiudian.html', rel='nofollow') 苏州
                li
                  em T
                  .cityNames
                    a(href='/Taiyuan_Jiudian.html', rel='nofollow') 太原
                    a(href='/Tianjin_Jiudian.html', rel='nofollow') 天津
                li
                  em W
                  .cityNames
                    a(href='/Wuhan_Jiudian.html', rel='nofollow') 武汉
                    a(href='/Wuxi_Jiudian.html', rel='nofollow') 无锡
                li
                  em X
                  .cityNames
                    a(href='/Xiamen_Jiudian.html', rel='nofollow') 厦门
                    a(href='/Xian_Jiudian.html', rel='nofollow') 西安
                li
                  em Z
                  .cityNames
                    a(href='/Zhengzhou_Jiudian.html', rel='nofollow') 郑州
          .topRt
            a.xswHrt(href='/user/login', rel='nofollow') 登录
            span.xswTopline1
            a.xswHrt(href='/user/register/step1', rel='nofollow') 注册
            // <span class="xswTopline1"></span><a href="#" class="xswHrt bgPhone">手机版</a>
      .wrap1000.topCon
        a.xswLogo(href='/Shanghai_Jiudian.html', onclick="rd(this,'site/cityjd/header/logo')", title='喜事网')
        .xswNav
          a.xswTopGift(target='_blank', href='/static/bag_shanghai.html')
          span.xswTopline2
          a(target='_blank', href='http://wenda.xishiwang.com/') 问答
          span.xswTopline2
          a.nav-4(target='_blank', href='http://haiwaihunli.xishiwang.com/') 海外婚礼
          span.xswTopline2
          a(target='_blank', href='/static/huodong_shanghai.html') 活动
          span.xswTopline2
          a.navYh(target='_blank', href='/app/theme/index.html')
            | 婚礼工具
            em(style='left:88px;')
          span.xswTopline2
          a(target='_blank', href='http://shop.xishiwang.com/sh/') 婚庆商家
          span.xswTopline2
          a.hover(target='_blank', href='/Shanghai_Hunyanchangsuo.html') 婚宴
          span.xswTopline2
          a(target='_blank', href='/Shanghai_Jiudian.html') 首页
