doctype html
html(lang="zh-cmn-Hans")
  head
    meta(charset="utf-8")
    meta(name="flexible" content="initial-dpr=2,maximum-dpr=2")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(content="yes" name="apple-touch-fullscreen")
    meta(content="telephone=no,email=no" name="format-detection")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    block title
      title
    block css
    script(src="../../js/jquery.min.js")
    script(src="../../js/flexible.js")
    block js
  block body
    body

